@import url(./variable.css);

body {
  overflow: hidden;
}

.main {
  height: 100vh;
}

.headline {
  height: 10%;
  min-width: 98%;
  background-color: var(--header-background-color);
  text-align: center;
  color: var(--header-color);
  border: ridge;
  font-family: Helvetica, sans-serif, Arial;
}

.bottom-bar {
  height: 5%;
  background-color: var(--bottom-bar-background);
  text-align: center;
  border-top: 1px solid var(--bottom-bar-border-top);

}

.board {
  height: 80%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  background-color: var(--board-background);
  max-width: 100%;
}

.title-block {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--title-block-border-bottom);
}

.list {
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  border: 1px solid var(--list-border);
  border-radius: 10px;
  min-width: 250px;
  border-color: var(--list-border-color);
  height: min-content;
  box-sizing: border-box;
  background: var(--list-background);
  max-height: 90%;
  display: flex;
  flex-direction: column;
}
.list:hover {
  transform: scale(1.02);
}

.list-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: var(--list-title-color);
  cursor: pointer;
  position: relative;
  display: block;
  height: 18px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 8px;
  margin-bottom: 16px;
  transition: transform 0.2s ease;
}
.list-title:hover {
  transform: scale(1.1);
}

.card-box {
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;
  box-shadow: var(--ds-shadow-raised, 0 1px 1px #091e4240, 0 0 1px #091e424f);
  padding: 1px 4px 0;
  background-color: var(--card-box-background-color);
}
::-webkit-scrollbar {
  background-color: var(--scrollbar-background-color);
  border-radius: 20px;
  border: 4px solid var(--scrollbar-border);
  width: 10px;
}

.card-title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  color: var(--card-title-color);
  cursor: pointer;
  flex-wrap: nowrap;
  overflow: hidden;
}

.card-text {
  font-family: initial;
  font-size: smaller;
  overflow-wrap: break-word;
  color: var(--card-text-color);
  cursor: pointer;
}

.card {
  flex-wrap: nowrap;
  border-radius: 10px;
  min-width: 90%;
  padding: 8px 8px 4px 12px;
  height: min-content;
  box-sizing: border-box;
  border-radius: 3px;
  transition: transform 0.2s ease;
  scroll-margin: 8px;
  background-color: var(--card-background-color);
  border-radius: 3px;
  box-shadow: var(--ds-shadow-raised, 0 1px 1px #091e4240, 0 0 1px #091e424f);
  color: var(--ds-text, --card-color);
  cursor: pointer;
  margin-bottom: 8px;
}
.card:hover {
  transform: scale(1.02);
}

.add-list {
  margin: 2%;
  padding: 10px;
  border-radius: 5px;
  border-color: var(--add-list-border-color);
  min-width: 90px;
  height: min-content;
  background-color: var(--add-list-background-color);
  font-family: Helvetica, sans-serif, Arial;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.add-list:hover {
  transform: scale(1.02);
  background-color: var(--add-list-background-color-hover);
}

.delete-button {
  background-image: url("./trash.svg");
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px;
  transition: transform 0.2s ease;
}
.delete-button:hover {
  transform: scale(1.3);
}

.add-card {
  margin: 5px 0;
  padding: 1px;
  background-color: var(--add-card-background-color);
  border-radius: 3px;
  position: relative;
  color: var(--list-text-color);
  display: flex;
  cursor: pointer;
  flex: 1 0 auto;
  transition: transform 0.2s ease;
}
.add-card:hover {
  transform: scale(1.04);
}

.input-card {
  text-align: center;
  border-radius: 5px;
  background-color: var(--input-card-btn-background-color);
  border: 0;
}

.input-btn {
  text-align: center;
  border-radius: 5px;
  background-color: var(--input-card-btn-background-color);
  width: 15%;
  border: 0;
}

.addcard-text {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  color: var(--add-card-text);
}

.is-content {
  background-image: url("./menu.svg");
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px;
  transition: transform 0.2s ease;
}