@import url(./variable.css);
body {
  overflow: hidden;
}

.delete-button {
  background-image: url("../assets/trash.svg");
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px;
  transition: transform 0.2s ease;
}
.delete-button:hover {
  transform: scale(1.3);
}

.add-list {
  margin: 2%;
  padding: 10px;
  border-radius: 5px;
  border-color: var(--add-list-border-color);
  min-width: 90px;
  height: min-content;
  background-color: var(--add-list-background-color);
  font-family: Helvetica, sans-serif, Arial;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.add-list:hover {
  background-color: var(--add-list-background-color-hover);
}












.url-block{
  display: flex;
  width: 90%;
  margin-left: 5%;
  white-space: nowrap; 
  overflow: hidden; 
}
.url-block:hover{
  overflow: visible; 
  text-overflow: clip; 
}




















