:root{
--header-background-color:hsl(27,6.8%,21.1%);
--header-color:#ffffff;
--bottom-bar-background:hsl(27,6.8%,21.1%);
--bottom-bar-color:#ccc;
--bottom-bar-border-top:#a7adb8;

--board-background:#5b6a77;

--title-block-border-bottom:#b8b5b8;

--list-border: rgb(242 241 225);
--list-background: #f1f2f4 ;
--list-border-color: #bdbdbd;

--list-title-color:#673a81b8;

--card-box-background-color:#f7f6f6;

--scrollbar-background-color:#d9d5cd;
--scrollbar-border:#d9d5cd;

--card-title-color:#7c7c7c;

--card-text-color:cadetblue;

--card-background-color:#fdfdfe;
--card-background-color-hover:#ccc;
--card-color:#172b4d;

--add-list-text-color:rgb(176, 174, 177);
--add-list-background-color:#fffffe42;
--add-list-background-color-hover:#f1f2f4ba ;

--add-card-background-color:#ffffff3d;
--add-card-background-color-hover:#091e4224;
--add-card-text:#44546f;

--input-card-btn-background-color:#ededed;

--modal-background-color:rgb(0 0 0 / 44%);
--modal-content-background-color:#EEEEEE ;
--card-modal-title-color:#58585B ;
--card-modal-title-border-bottom:#091e42;
--main-text-modal-background-color:#b8b5b882;
--btn-save:#d6d8db;
--btn-save-hover:#bcc2cc;
}